<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="CyborgToast's command reference" />
    <meta name="author" content="Koyagami" />
    <meta name="keywords" 
          content="Discord, bot, Discord bot, discord.py, Python, asyncio, " />
    <meta name="canonical" href="https://tmpod.gitlab.io/cyborgtoast" />
    <meta name="theme-color" content="#363940" />
    <meta name="msapplication-TileColor" content="#363940" />
    
        <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="favicons/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="favicons/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="favicons/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="favicons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16.png">
    <link rel="apple-touch-icon" href="favicons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/favicon-180.png">
    <meta name="msapplication-TileColor" content="#363940">
    <meta name="msapplication-TileImage" content="favicons/favicon-144.png">
    <meta name="msapplication-config" content="favicons/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->

    <title>{% block title %}Untitled{% endblock %} - CyborgToast</title>

    {# Regular bootstrap theme, we shouldn't need this at the moment. #}
    {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" /> #}

    <!-- Black bootstrap 4 theme -->
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.css" />

    <style>
        /* Make card-columns environment have wider cards */
        /* 
        @media (min-width: 576px) {
            .card-columns {
                column-count: 2 !important;
            }
        }

        @media (min-width: 1200px) {
            .card-columns {
                column-count: 3 !important;
            }
        }
        */

        /* Force code-block colouring. */
        /* 
        code {
          color: #e83e8c !important;
        }
        */

        .card-header, .card-footer {
            color: white !important;
        }

        .card-header a, .card-footer a, .card-header > a, .card-footer > a, .card a {
            color: white !important;
        }

        .card-header {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <a href="index.html"><h1 class="display-4">CyborgToast's Commands Reference</h1></a>
            <p class="lead">A place where all the commands are explained. Here's a brief description of the bot.</p>
            <p class="lead"><b>[In-Dev]</b>
                Hey there! I'm CyborgToast, a Discord Bot. I love playing with my users and throwing rage inducing Exceptions at my owner.
                I do a bit of everything. I also have some neat features it's rare seing (or I could even be the only one :D).</p>
            <p><a href="https://discordapp.com/oauth2/authorize?client_id=436617817043763200&scope=bot&permissions=262208">Invite CyborgToast</a> to your server now!</p>
        </div>
    </div>

    <div class="container">

        {% block body %}

        <div class="row">
            <div class="col">
                <h1>Soon&trade;</h1>

                <p>
                    Uh oh, it looks like CyborgToast's Commands Reference has a problem, I'll be fixing this as soon as possible!
                    Please try again later!
                </p>
            </div>
        </div>

        {% endblock %}

        <footer id="footer">
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; 2019 Tmpod under the MIT License.</p>
                    <p>Theme made by <a href="http://thomaspark.co">Thomas Park</a> under the <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT License</a>.</p>
                </div>
            </div>
        </footer>
    </div>


    <!-- Bootstrap stuff, I guess -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
</body>
</html>
